@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Quicksand */
.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Raleway */
.raleway-font {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared */
:root {
    --primary-color: rgb(17, 17, 17);
    --color-1: rgb(254, 163, 1);
    --color-2: rgb(1, 172, 253);
    --color-3: rgb(5, 212, 223);
    --color-4: rgb(93, 88, 239);
    --color-5: rgb(149, 178, 38);
}

*{
    margin: 0%;
    padding: 0%;
}

.c1 {
    color: var(--color-1);
}
.c2 {
    color: var(--color-2);
}
.c3 {
    color: var(--color-3);
}
.c4 {
    color: var(--color-4);
}
.bg-green {
    background-color: var(--color-5);
}
.bg-purple {
    background-color: var(--color-4);
}
.gradient-bg-blue {
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.gradient-bg-yellow {
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.gradient-bg-purple {
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}




/*        */
/* Header */
/*        */
header {
    padding: 3% 0%;
}

header nav {
    padding: 0% 8%;
    display: flex;
}

header nav .left {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header nav .left span {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    transition: all 0.3s ease-in-out;
}

header nav .left span:hover {
    cursor: pointer;
    color: var(--color-1);
    text-shadow: 1px 1px 3px #000000;
}

header nav .mid {
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav .mid .item {
    margin: 0 0 0 10%;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
header nav .mid .item:hover {
    cursor: pointer;
    color: var(--color-5);
    position: relative;
    transform: scale(1.5);
}


header nav .right {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header nav .right button {
    padding: 2% 8%;
    background-color: var(--color-1);
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 30px;
    transition: all 0.3s ease-in-out;
}

header nav .right button:hover {
    cursor: pointer;
    background-color: var(--color-5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header nav .right .menu {
    width: 30px;
    height: 30px;
    display: none;
}

header .divider {
    height: 2px;
    background-color: var(--color-1);
    margin-top: 10px;
    display: none;
}












/*        */
/*  Main  */
/*        */
main {
    
}

/* Section (1) */
.section-1 {
    padding: 3% 8% 0% 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-1 .left {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-1 .left h1 {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 61px;
}

.section-1 .left h1 .part-1 {
    color: var(--color-1);
}

.section-1 .left h1 .part-2 {
    color: var(--primary-color);
}

.section-1 .left h1 .part-3 {
    color: var(--color-2);
}

.section-1 .left p {
    width: 70%;
    color: rgb(97, 97, 97);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 25px;
}

.section-1 .left button {
    width: fit-content;
    padding: 1% 6%;
    background-color: var(--primary-color);
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 30px;
    transition: all 0.3s ease-in-out;
}

.section-1 .left button:hover {
    cursor: pointer;
    background-color: var(--color-5);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-1 .right img {
    width: 100%;
}


















/* Section (2) */
.section-2 {
    padding: 3% 8%;
    background-image: url("../assets/bg.png");
    border-top: 2px dashed rgb(211, 211, 211);
    border-bottom: 2px dashed rgb(211, 211, 211);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-2 h1 {
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: 700;
    line-height: 57.5px;
    letter-spacing: 0%;
    text-align: center;
    margin: 2% 0 5% 0;
}

.section-2 .item-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

.section-2 .item-layout .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 15% 0;
    box-sizing: border-box;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
}

.section-2 .item-layout .item .image-layout {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2 .item-layout .item .image-layout img {
    width: 100%;
}

.section-2 .item-layout .item h2 {
    color: rgb(32, 32, 32);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 30.65px;
    letter-spacing: 0%;
    text-align: center;
}

.section-2 .item-layout .item p {
    width: 70%;
    color: rgb(128, 128, 128);
    font-size: 15.09px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: center;
}

.section-2 .item-layout .item h3 {
    margin-top: 5%;
}

.section-2 .arrow-layout {
    display: flex;
    gap: 10px;
    margin: 5% 0% 2% 0;
}
.circle {
    width: 100px;
    height: 100px;
    background-color: var(--color-1);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.left-arrow {
    width: 18px;
    height: 18px;
    border: solid white;
    border-radius: 4px;
    border-width: 6px 6px 0 0; /*thickness*/
    transform: rotate(-135deg);  /*line into an arrow*/
}

.right-arrow {
    width: 18px;
    height: 18px;
    border: solid white;
    border-radius: 4px;
    border-width: 6px 6px 0 0; /*thickness*/
    transform: rotate(45deg);  /*line into an arrow*/
}

.circle:hover {
    cursor: pointer;
    background-color: var(--color-5);
}












/* Section (3) */
.section-3 {
    padding: 3% 8%;
    background: url("../assets/bg.png"),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-3 h1 {
    color: rgb(0, 0, 0);
    font-size: 3rem;
    font-weight: 700;
    line-height: 57.5px;
    letter-spacing: 0%;
    text-align: center;
    margin: 2% 0 5% 0;
}

.section-3 .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.section-3 .container .left {
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-3 .container .left .image-layout {
    
}

.section-3 .container .left .image-layout img {
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.section-3 .container .left .text-layout {
    margin-left: 8%;
}

.section-3 .container .left .text-layout button {
    background-color: var(--color-3);
    padding: 2% 8%;
    border: none;
    border-radius: 47px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 30px;
    position: relative;
    bottom: 35px;
}

.section-3 .container .left .text-layout h2 {
    width: 70%;
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-weight: 700;
    line-height: 38.35px;
    letter-spacing: 0%;
    text-align: left;
    margin: 15px 0px;
}

.section-3 .container .left .text-layout p {
    width: 80%;
    color: rgb(102, 102, 102);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 28.76px;
    letter-spacing: 0%;
    text-align: left;
    margin: 30px 0 60px 0;
}

.section-3 .container .right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.section-3 .container .right .item {
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-3 .container .right .item .image-layout {
    
}

.section-3 .container .right .item .image-layout img {
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.section-3 .container .right .item .text-layout {
    margin-left: 8%;
}

.section-3 .container .right .item .text-layout button {
    padding: 2% 8%;
    border: none;
    border-radius: 47px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    line-height: 30px;
    position: relative;
    bottom: 28px;
}

.section-3 .container .right .item .text-layout h2 {
    width: 75%;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px 0px;
}

.section-3 .view-all {
    width: fit-content;
    padding: 1% 6%;
    background-color: var(--primary-color);
    border: none;
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 30px;
    margin: 5% 0%;
}

.section-3 marquee {
    color: rgb(32, 32, 32);
    font-size: 24px;
    font-weight: 700;
    line-height: 30.65px;
    letter-spacing: 0%;
    text-align: center;
    margin: 5% 0% 0% 0%;
}

.section-3 marquee span {
    font-size: 2rem;
    color: var(--color-2);
}



















/*        */
/* Footer */
/*        */
footer {
    padding: 10% 8%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    background-color: var(--color-2);
}

footer .part-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer .part-1 .up{
    display: flex;
}

footer .part-1 .up img {
    width: 70px;
    filter: contrast(170%) brightness(90%) saturate(2);
}

footer .part-1 .up span {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
    line-height: 39.51px;
    letter-spacing: 0%;
    text-align: left;
}

footer .part-1 p {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}

footer .part-2 {
    display: flex;
    justify-content: center;
}

footer .part-2 > div {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

footer .part-2 h1 {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

footer .part-2 span {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}

footer .part-3 {
    display: flex;
    justify-content: center;
}

footer .part-3 > div {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

footer .part-3 h1 {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

footer .part-3 .image-layout {
    display: flex;
    gap: 10px;
}

















/*             */
/* Media Query */
/*             */
/* For sm devices */
@media screen and (max-width: 576px) {
    /*        */
    /* Header */
    /*        */
    header nav .left img {
        width: 40px;
    }

    header nav .left span {
        visibility: hidden;
    }

    header nav .mid {
        visibility: hidden;
    }

    header nav .right {
        width: 33%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    header nav .right button {
        visibility: hidden;
    }

    header nav .right .menu {
        font-size: 24px;
        display: block;
    }

    header .divider {
        display: block;
    }


    /*        */
    /*  Main  */
    /*        */
    /* Section (1) */
    .section-1 {
        flex-direction: column-reverse;
    }

    .section-1 .left {
        gap: 20px;
        align-items: center;
    }

    .section-1 .left h1 {
        font-size: 1.75rem;
        font-weight: 700;
        line-height: 35px;
        text-align: center;
    }

    .section-1 .left p {
        width: 100%;
        font-size: 0.9rem;
        line-height: 20px;
        text-align: center;
    }

    .section-1 .left button {
        border-radius: 5px;
        font-size: 0.9rem;
    }

    /* Section (2) */
    .section-2 {
        border-top: none;
        border-bottom: none;
    }

    .section-2 h1 {
        font-size: 1.25rem;
        margin-top: 50px;
    }

    .section-2 .item-layout {
        grid-template-columns: repeat(1, 1fr);
        gap: 1%;
    }

    .section-2 .item-layout .item {
        gap: 20px;
        padding: 15% 0;
    }

    .section-2 .item-layout .item .image-layout {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-2 .item-layout .item .image-layout img {
        width: 100%;
    }

    .section-2 .item-layout .item h2 {
        font-size: 1rem;
        line-height: 10px;
    }

    .section-2 .item-layout .item p {
        width: 80%;
        font-size: 12px;
        line-height: 18px;
    }

    .section-2 .item-layout .item h3 {
        margin-top: 0%;
        font-size: 12px;
    }

    .section-2 .arrow-layout {
        display: none;
    }

    /* Section (3) */
    .section-3 h1 {
        font-size: 1.25rem;
        margin-top: 50px;
    }

    .section-3 .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .section-3 .container .left {
        display: none;
    }

    .section-3 .container .right {
        gap: 10px;
    }

    .section-3 .container .right .item {
        border-radius: 5px;
    }

    .section-3 .container .right .item .image-layout img {
        border-radius: 5px 5px 0 0;
    }

    .section-3 .container .right .item .text-layout {
        margin-left: 8%;
    }

    .section-3 .container .right .item .text-layout button {
        border-radius: 15px;
        font-size: 0.6rem;
        line-height: 10px;
        padding: 6% 7%;
        bottom: 20px;
    }

    .section-3 .container .right .item .text-layout h2 {
        width: 95%;
        font-size: 0.6rem;
        line-height: 15px;
        margin: -10px 0px 20px 0px;
    }

    .section-3 .view-all {
        padding: 1% 6%;
        border-radius: 10px;
        font-size: 0.9rem;
        line-height: 25px;
    }

    .section-3 marquee {
        font-size: 12px;
    }

    .section-3 marquee span {
        font-size: 1.25rem;
    }

    /*        */
    /* Footer */
    /*        */
    footer {
        grid-template-columns: repeat(1, 1fr);
    }

    footer .part-1 .up img {
        width: 60px;
        height: 65px;
    }

    footer .part-1 .up span {
        font-size: 1.75rem;
        line-height: 35px;
    }

    footer .part-1 p {
        font-size: 0.9rem;
        line-height: 20px;
    }

    footer .part-2 {
        display: flex;
        justify-content: flex-start;
    }

    footer .part-2 > div {
        gap: 12px;
    }

    footer .part-2 h1 {
        font-size: 1.25rem;
    }

    footer .part-2 span {
        font-size: 1rem;
    }

    footer .part-3 {
        justify-content: flex-start;
    }

    footer .part-3 > div {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    footer .part-3 h1 {
        font-size: 1.25rem;
    }
}
